
@{
    ViewBag.Title = "Success";
     Layout = "~/Views/Shared/_FutoLayout.cshtml";
}

<div class="container" style="background-color:#ffffff; padding:15px;">
    <div class="row">
        <div class="col-xs-12">
<div class="panel-body">
                        <div class="alert alert-success">
                            <p>
                                OPD SUCCESSFUL
                                @Html.ActionLink("Continue", "Index", "Reports")
                            </p>
                        </div>
                    </div>
        </div>
    </div>
</div>
 



