
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_FutoLayout.cshtml";
}
<div class="container" style="background-color:#ffffff; padding:15px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel-body">
                <div class="alert alert-success">
                    <p>
                        PATIENT DISCHARGED
                        @Html.ActionLink("Home", "Index", "Home")
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>





