@using FUTOMedical.Areas.Service
@{

    string img = "";
    if (GeneralService.PharmacistInfo() != null)
    {
        img = GeneralService.PharmacistInfo().Picture;

    }
}

<div class="user-section">
    <div class="user-section-inner">
        @if (!string.IsNullOrEmpty(img))
        {
            <img src="@Url.Content(img)" alt="User Image">
        }
        else
        {
            if (GeneralService.PharmacistInfo().Sex == "Male")
            {

                <img src="~/Content/FUTOMedical/assets/img/avatar5.png" alt="User Image" />
            }
            else if (GeneralService.PharmacistInfo().Sex == "Female")
            {
                <img src="~/Content/FUTOMedical/assets/img/avatar2.png" alt="User Image" />

            }
            else
            {
                <img src="~/Content/FUTOMedical/assets/img/user.jpg" />

            }
        }
    </div>
    <div class="user-info">

        @if (GeneralService.PharmacistInfo() != null)
        {
            <div><strong> @GeneralService.PharmacistInfo().Fullname</strong></div>
        }
        else
        {

        }

        <div class="user-text-online">
            <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
        </div>
    </div>
</div>